{% extends "base.html" %}
{% block title %}
Đặt lại mật khẩu thành công
{% endblock title %}
{% block main %}
<div class="row h-100 justify-content-center">
    <div class="col-lg-6 col-md-10 col-sm-12 my-4">
        <div class="card bg-light">
            <div class="card-body">
                <p>
                    Bạn đã thay đổi mật khẩu thành công.
                </p>
                <a type="button" href="{% url 'login' %}" class="btn btn-primary">
                    <i class="fas fa-arrow-right mr-1"></i> Đăng nhập
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock main %}