{% extends "base.html" %}
{% block title %}
    Quên mật khẩu
{% endblock title %}
{% block main %}
<div class="row h-100 justify-content-center">
    <div class="col-lg-6 col-md-10 col-sm-12 my-4">
        <div class="card bg-light">
            <div class="card-body">
                <p>
                    Chúng tôi đã gửi một e-mail tới địa chỉ email của bạn. Vui lòng kiểm tra hòm thử để cài đặt lại mật khẩu.
                </p>
                <a type="button" href="{% url 'home' %}" class="btn btn-success">
                    <i class="fas fa-arrow-right mr-1"></i> Trang chủ
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock main %}