{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Đăng ký
{% endblock title %}
{% block main %}
<div class="row h-100 justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10 my-4">
        <div class="card bg-light">
            <div class="card-body">
                <h1 class="card-title text-center">Đăng ký</h1>
                <form method="POST" action="">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-block btn-success">Đăng ký</button>
                </form>
                <div class="text-center my-4">
                    <span><small>Nếu chưa có tài khoản hãy</small> <a href="{% url 'login' %}" class="small font-weight-bold">Đăng nhập</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}