<div class="mb-3" id="item-{{ answer.uuid }}">
    <div class="card mb-2 color-accept {% if answer.is_answer %}bg-light{% endif %}">
        <div class="card-body">
            <div class="row">
                <div class="col-1 d-none d-sm-none d-md-block text-center qa-vote">
                    {% include "qanda/includes/answer_votes.html" with question=answer.question %}
                </div>
                <div class="col-11">
                    <div class="d-block d-sm-flex justify-content-between mb-3">
                        <h6 class="small d-flex">
                            {% include "accounts/includes/avatar_sm.html" with user=answer.user %}
                            <strong class="text-muted pt-1">{{ answer.user }}</strong>
                        </h6>
                        <div class="d-flex align-items-center">
                            <small><i class="far fa-clock mr-2"></i>{{ answer.created_at|timesince }}</small>
                            {% if user == answer.user %}
                            <button aria-expanded="false" class="btn btn-link ml-3 p-0" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></span></button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item btn-lg-modal"
                                    href="javascript:void(0)"
                                    data-url="{% url 'update_answer' answer.uuid %}">
                                    <i class="fas fa-edit mr-2"></i> Sửa</a>
                                <a class="dropdown-item text-danger btn-modal"
                                    href="javascript:void(0)"
                                    data-url="{% url 'delete_answer' answer.uuid %}">
                                    <i class="fa fa-trash mr-2"></i> Xóa</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <p class="card-text">
                        {{ answer.content }}
                    </p>
                </div>
            </div>
            <div class="card-footer footer-qa">
                <a class="mr-3 float-right" href="#reply-{{ answer.uuid }}" data-toggle="collapse" aria-expanded="false">
                    <i class="fa fa-reply mr-2 text-primary"></i>
                    Bình luận
                </a>
            </div>
        </div>
    </div>
    
    <div>
        <div class="collapse qa-reply mb-3" id="reply-{{ answer.uuid }}">
            {% include "qanda/reply/form_create.html" %}
        </div>
        {% include "qanda/reply/list.html" with replies=answer.top_replies %}
        {% if answer.more_replies %}
        <div class="ml-5 my-3"
            id="js-load-more-replies"
            data-url="{% url 'load_more_replies' answer.uuid %}">
            <a href="javascript:void(0)" class="text-primary" style="text-decoration: underline">Xem thêm</a>
            <div class="dropdown-divider"></div>
        </div>
        {% endif %}
    </div>
</div>

