{% load core %}
<div class="card ml-5 mb-2" id="item-{{ reply.uuid }}">
    <div class="card-body">
        <div class="d-block d-sm-flex justify-content-between mb-3">
            <h6 class="small d-flex">
                {% include "accounts/includes/avatar_sm.html" with user=reply.user %}
                <strong class="text-muted mt-1">{{ reply.user }}</strong>
            </h6>
            <div class="d-flex align-items-center">
                <small><i class="far fa-clock mr-2"></i>{{ reply.created_at|timesince }}</small>
                {% if user == reply.user %}
                <button aria-expanded="false" class="btn btn-link ml-3 p-0" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></span></button>
                <div class="dropdown-menu">
                    <a class="dropdown-item btn-lg-modal"
                        href="javascript:void(0)"
                        data-url="{% url 'update_answer' reply.uuid %}">
                        <i class="fas fa-edit mr-2"></i> Sửa</a>
                    <a class="dropdown-item text-danger btn-modal"
                        href="javascript:void(0)"
                        data-url="{% url 'delete_answer' reply.uuid %}">
                        <i class="fa fa-trash mr-2"></i> Xóa</a>
                </div>
                {% endif %}
            </div>
        </div>
        <p class="card-text">{{ reply.content | markdown }}</p>
    </div>
</div>
