{% extends "qanda/base.html" %}

{% block content %}
<div class="media justify-content-between">
    <h4 class="mb-3">Danh sách Categories</h4>
    <a href="{% url 'create_question' %}" class="btn mb-3 btn-success text-white" type="button">
        <i class="fas fa-plus"></i> Thêm câu hỏi
    </a>
</div>
<div class="shadow mb-5">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Số câu hỏi</th>
            </tr>
        </thead>
        <tbody id="js-tbody-questions">
            {% include "qanda/category/categories.html" %}
        </tbody>
    </table>
    <div class="py-2 text-center">
        <div class="spinner-border" style="display: none" id="js-loading" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
{% endblock content %}
